body, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh; 
}

h1 {
    padding: 10px;
    background-color: #3399ff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#studentlist {
    margin-top: 20px;
    padding: 0;
    width: 250px;
    border: 2px solid #3399ff;
    list-style-type: none;
}

#studentlist li {
    padding: 5px 10px;
    border-top: 2px solid #3399ff;
    cursor: pointer;
    color: #fff;
    background-color: #3399ff;
    font-style: italic;
}

#studentlist li:hover {
    background-color: #007acc;
}

#studentinfo {
    width: 250px; 
    margin: 10px;
    padding: 10px;
    border: 2px solid #3399ff;
}